/* Global styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.verticle-line{
    height: 2em;
    width: 1px;
    background-color: rgb(50, 110, 223);
}

.small{
    font-size: 0.7em;
    font-weight: bold;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.column{
    flex-direction: column;
}

.circle{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    /* background-color: black; */
    /* align-self: baseline; */
    border: 1px solid red;
}

/* logged out view */

.login-container{
    display: flex;
    align-items: center;
    width: max-content;
    gap: 1em;
}

a{
    text-decoration: none;
    color: rgb(50, 110, 223);
    border: 1px solid rgb(50, 110, 223);
    border-radius: 5px;
    width: 5em;
    height: 2em;
}

.login-container a:hover{
    background-color: rgb(50, 110, 223);
    color: #fff;
}

/* Logged in view */

.logged-in-container{
    border: 1px solid rgb(50, 110, 223);
    gap: 1em;
    padding: 0.3em 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 5em;
}

.user-options{
    /* border: 1px solid orange; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


#username{
    height: 25%;
    /* border: 1px solid green; */
    display: flex;
    align-items: center; 
}

.view-profile-container{
    /* border: 1px solid black; */
    height: 25%;
    font-size: 0.8em;
    color: rgb(50, 110, 223);
}

.view-profile{
    display: flex;
    width: max-content;
    align-items: center;
    gap: 0.2em;
    cursor: pointer;
    box-sizing: border-box;
}

.view-profile:hover{
    border-bottom: 1px solid rgb(50, 110, 223);
    /* border-radius: 0; */
}

.view-profile-container[open] .view-profile{
    border-bottom: 1px solid rgb(50, 110, 223);
}

.view-profile-container div{
    background-color: #fff;
    /* border: 1px solid rgb(50, 110, 223); */
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
    border-radius: 5px;
    /* margin-top: 1em; */
    padding: 5px;
}

.view-profile-container a{
    all:revert;
    display: block;
    text-decoration: none;
    color: #565656;
    font-size: 0.9em;
    transition: opacity 100ms,font-weight 100ms;
    /* background-color: #ffffff;
    border: 1px solid black; */
}

.view-profile-container a:hover{
    font-weight: bold;
    opacity: 1;
    background-color: #ccc;
}

.view-profile-container .logout{
    /* font-weight: bold; */
    color: rgb(255, 43, 43);
    opacity: 0.6;
}